html {
  height: 100%;
}
body {
  overflow-x: hidden;
}

* {
  outline: none;
}

.App {
  text-align: center;
  width: 100vw;
  background-image: linear-gradient(to right, rgba(154,0,162,1), rgba(0,67,81,1));
  min-height: 100vh;
}

input[type=text].searchInput {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 12px;
  min-width: 300px;
  margin-right: 12px;
}

.main-button {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}